*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.pp {
	width: 12%;
}

header {
	background: black;

}

li a {
	font-size: 35px;
	text-decoration: none;
	color: white;
}

h1 {
	text-align: center;
	font-style: italic;
	padding-top: 45px;
}

.p1 {
	pa
}